@charset "UTF-8";

//-------------------------
// import
//-------------------------
@import "base/reset";
@import "base/mixin";

//移动web
@import "base/css3";
@import "base/media";

//common
@import "base/common";



.half640 {
	width: rem(320);
	height: rem(320);
	border: 1px solid #f00;
	@include flexCenter;
}

.half750 {
	width: rem(375);
	height: rem(375);
	border: 1px solid #f00;
	@include flexCenter;
}